.DS_Store
venv

references/

playground/
__pycache__/

src/interfaces/textual-outputs/
pub?output=csv

results/

temp-reqs.txt

test-collected-data/data/student.csv
test-collected-data/data/students.csv
test-collected-data/data/supervisor-1.csv
test-collected-data/data/supervisor-2.csv

downloaded_file.csv