.DS_Store
venv

references/

playground/
__pycache__/

src/interfaces/textual-outputs/

results/

temp-reqs.txt

test-collected-data/data

results.txt
error.txt
solution.txt

export
export_student

src/actual_run/data